<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ssongtech.android.mediaplayer_sunproject1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 읽기, 쓰기, 인터넷 외부 저장소 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 오디오 녹음 권한 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- CPU 사용을 최소화 하기 위해 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 읽기, 쓰기, 인터넷 외부 저장소 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AudioApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MediaPlayerService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>